@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<head>
  
</head>
<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p><a href="/Home">Strona główna</a></p>
</div>
