@page "/Home"
@model Dziennik_elektroniczny.Pages.MainModel
@{
}
<html>
  <head>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
  </head>

<body class="main-site">
    <div class="lesson-box">Hejka</div>
  </body>
</html>